$sectionsMainBG: 'header' '.specials' '.about';
$sectionsAccentBG: 'body';

$mainBG: url(../img/dinner-1250x938.jpg) no-repeat center/ cover fixed;
$accentBG: url(../img/bricks-1350x900.jpg) no-repeat center/ cover fixed;

$mainBgColor: #44bdb8;
$mainFont: 20px arial, sans-serif;
$mainFontColor: #fff;
$mainLineHeight: 130%;

$centerAlignMargin: 15px auto;

$headerFonts:  4em 'Brush Script MT', 'Lucida Bright', cursive;
$centerAlignText: center;
$rightAlignText: right;

$navAndFooterBG: #000;
$navFontSize: 2.5em;
$linkColor: #ffcc66;
$noUnderline: none;
$textShadow: 0px 0px 10px darken($mainBgColor, 80%);

$sectionBorder: solid 30px black;
$menuCategoryHeaderFont: 2em;
$foodMargin: 0 30px;
$foodDescriptionFont: 0.9em;

$mapHeight: 300px;
$mapWidth: 500px;

$aboutDescriptionMargin: 0 30px 30px 30px;

// Set up backgrounds
@each $section in $sectionsMainBG {
	#{$section} {
		background: $mainBG;
	}
}

@each $section in $sectionsAccentBG {
	#{$section} {
		background: $accentBG;
	}
}

/*** Fontawesome Icons ***/
.fa:before {
	font: 2em "FontAwesome", sans-serif;
	color: #fff;
}

.social-media-buttons {
	text-align: $rightAlignText;
	padding: $foodMargin;
}

/*** General Styles ***/
body {
	font: $mainFont;
	color: $mainFontColor;
	line-height: $mainLineHeight;
	
}

header, .menu, .specials, .location, .about {
	border-bottom: $sectionBorder;
}

p {
	margin: $aboutDescriptionMargin;
}

h1 {
	font: $headerFonts;
	text-align: $centerAlignText;
	margin-top: 0;
}

a {
	color: $linkColor;

	&:hover {
		text-decoration: $noUnderline;
		color: $linkColor;
		text-shadow: $textShadow;
	}
}

/*** Navigation and Address/Hours Bar ***/
nav, .top-bar {
	background-color: $navAndFooterBG;
}

.hours {
	text-align: $rightAlignText;
}

.nav-link {
	font-size: $navFontSize;
}

/*** Header and Logo ***/
header {
	padding: 15px;
}

.logo {
	margin: $centerAlignMargin;
}

/*** Menu Section ***/
.col-sm-4 {
	padding: 0 0 10px 0;
}

.menu-category-header {
	font: $headerFonts;
	font-size: $menuCategoryHeaderFont;
	text-align: $centerAlignText;

	&:hover {
		cursor: pointer;
	}
}

.food-item {
	margin: $foodMargin;
}

.food-description {
	margin: $centerAlignMargin;
	margin-top: 0;
	font-size: $foodDescriptionFont;
}

/*** Specials Section ***/
.specials {
	text-align: $centerAlignText;
}

/*** Location Map ***/
#map-canvas {
	height: $mapHeight;
	max-width: $mapWidth;
	margin: $centerAlignMargin;
	margin-bottom: 25px;
}

/*** Footer ***/
footer {
	text-align: $rightAlignText;
	padding: 15px;
	background-color: $navAndFooterBG;
}

/*** Scroll to top button ***/
.scrollToTop{
	width: 70px; 
	height: 60px;
	padding: 10px; 
	position: fixed;
	top: 75px;
	right: 10px;
	display: none;
}

.scrollToTop img {
	width: 50px;
	height: 50px;
}

.scrollToTop:hover{
	text-decoration:none;
}

/*** Responsive ***/
@media (max-width: 500px) {
		@each $section in $sectionsMainBG {
		#{$section} {
			background: url(../img/dinner-500x375.jpg) no-repeat center/ cover fixed;
		}
	}

	@each $section in $sectionsAccentBG {
		#{$section} {
			background: url(../img/bricks-500x333.jpg) no-repeat center/ cover fixed;
		}
	}

	.top-bar {
		font-size: 0.8em;
	}

	nav .col-xs-3 {
		padding: 0;
	}
}

@media (max-width: 700px) {
	.logo {
		width: 20%;
		min-width: 100px;
		margin: 0 5px 0 0;
		display: inline-block;
	}

	header {
		h1 {
			display: none;
			font-size: 1.5em;
		}

		vertical-align: middle;
	}

	.social-media-buttons {
		display: inline-block;
		float: right;
		margin: 15px 0;
	}

	.nav-link {
		font-size: 1.5em;
	}

	h1 {
		font-size: 2.5em;
	}

	.menu-category-header {
		font-size: 1.8em;
	}

	body {
		font-size: 18px;
	}
}

@media (max-width: 768px) {
	@each $section in $sectionsMainBG {
		#{$section} {
			background: url(../img/dinner-750x563.jpg) no-repeat center/ cover fixed;
		}
	}

	@each $section in $sectionsAccentBG {
		#{$section} {
			background: url(../img/bricks-750x500.jpg) no-repeat center/ cover fixed;
		}
	}

	.hours {
		text-align: initial;
	}
}

@media (max-width: 1000px) {
	@each $section in $sectionsMainBG {
		#{$section} {
			background: url(../img/dinner-1000x750.jpg) no-repeat center/ cover fixed;
		}
	}

	@each $section in $sectionsAccentBG {
		#{$section} {
			background: url(../img/bricks-1000x667.jpg) no-repeat center/ cover fixed;
		}
	}
}